*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(243, 243, 193);
}

/* Navegation Styles */

.navitem{
    margin-right: 20px;
    display: inline;
    text-decoration: none;
}

nav a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.nav{
    text-align: center;
    text-decoration: none;
    margin: 0px 10px;
    background-color: rgb(184, 184, 134);
    height: 45px;
}

nav a:hover{
    color: white;
}